menu "Customer feature"

config TCSUPPORT_CT
	bool
	default y
	help
		support China Telecom

choice
	prompt "Select Operator"

config TCSUPPORT_CT_TELECOM
	bool "China Telecom Support"
	help
	      Custom for Telecom

config TCSUPPORT_CUC
	bool "China Unicom Support"
	select TCSUPPORT_HGU_OMCI_MIB_UPLOAD_PPTP_ETH_UNI
	help
	      Support China Unicom

endchoice
    
choice
	prompt "Select Province"

config NO_PROVINCE_SUPPORT
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "NO_PROVINCE_SUPPORT"
	help
	      Custom for no province

config TCSUPPORT_CT_PON_SN
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_SN"
	help
	      Support ShanXi E8 HGU.

config TCSUPPORT_CT_PON_YN
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_YN"
	help
		Support YN customer.

config TCSUPPORT_CT_PON_NMG
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_NMG"
	help
	      Support E8 NMG HGU.

config TCSUPPORT_CT_PON_JS
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_JS"
	help
	      Support Jiangsu E8 HGU.

config TCSUPPORT_CT_PON_GX
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_GX"
	help
	      Support Guangxi tele. register flow.

config TCSUPPORT_CT_PON_GD
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_GD"
	help
		Support Guangdong tele. register flow.

config TCSUPPORT_CT_PON_SC
	depends on TCSUPPORT_CT_PON && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_PON_SC"
	help
		Support Sichuan tele. register flow.

config TCSUPPORT_CT_FJ
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_FJ Support"
	help
	      Support FuJian CT

endchoice

choice
	prompt "Select LAN Ports Type"

config TCSUPPORT_CT_4PORTS
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_4PORTS Support"
	help
		Support 4 LAN Ports for CT.
	
config TCSUPPORT_CT_2PORTS
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_2PORTS Support"
	help
		Support 2 LAN Ports for CT.

config TCSUPPORT_CT_1PORT
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	select TCSUPPORT_CT_2PORTS
	bool "TCSUPPORT_CT_1PORT Support"
	help
		Support 1 LAN Port for CT.

config TCSUPPORT_CUC_4PORT
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_4PORT Support"
	help
	      Support CUC 4PORT.
		
config TCSUPPORT_CUC_2PORT
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_2PORT Support"
	help
	      Support CUC 2PORT.

config TCSUPPORT_CUC_SFU
	depends on TCSUPPORT_CUC  
	bool "TCSUPPORT_CUC_SFU Support"
	help
	      Support CUC TCSUPPORT_CUC_SFU.

endchoice

choice
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	prompt "Select VOIP FXS"

config TCSUPPORT_CT_1FXS
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_1FXS Support"
	help
		Support 1 FXS for CT.

config TCSUPPORT_CT_2FXS
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool "TCSUPPORT_CT_2FXS Support"
	help
		Support 2 FXS for CT.

endchoice

config TCSUPPORT_CT_SIMCARD_SEPARATION
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_SIMCARD_SEPARATION Support"
	help
		Support simcard separation.

config TCSUPPORT_CT_PHONEAPP
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool "TCSUPPORT_CT_PHONEAPP Support"
	help
	      Support CT PHONEAPP.

config TCSUPPORT_CT_VOIP_H248
	depends on TCSUPPORT_CT && TCSUPPORT_VOIP && !TCSUPPORT_CUC_SFU && TCSUPPORT_ECN_MEGACO
	bool
	default y
	help
	      Support VoIP H248.	    
    	      
config TCSUPPORT_CT_VOIP_SIP
	depends on TCSUPPORT_CT && TCSUPPORT_VOIP && !TCSUPPORT_CUC_SFU && TCSUPPORT_ECN_SIP
	bool
	default y
	help
	      Support VoIP SIP.	 

config TCSUPPORT_VOIP_IMSSIP
	depends on TCSUPPORT_CT_VOIP_SIP 
	bool
	default y
	help
	      Support imssip  


config TCSUPPORT_CT_PORT_BIND
	depends on TCSUPPORT_PORTBIND
	default y
	bool
	help
		CT_PORT_BIND support
	
config TCSUPPORT_CT_SWQOS
	depends TCSUPPORT_QOS
	default y
	bool
	help
		support CT software QoS

config TCSUPPORT_CT_URL_FILTER
	bool
	default y
	depends on (!TCSUPPORT_CUC_SFU)
	help
		support CT URL Filter

config TCSUPPORT_CUC_SLIC_GENERAL
	bool
	default y
	depends on (!TCSUPPORT_CUC_SFU && TCSUPPORT_CUC)
	help
		support cuc slic general

config TCSUPPORT_PPPOE_SIMULATE
	bool
	default y
	depends on (!TCSUPPORT_CUC_SFU && TCSUPPORT_CUC)
	help
		support PPPOE SIMULATE

config TCSUPPORT_EPON_OAM_CUC
	depends on TCSUPPORT_CUC
	bool
	default y
	help
		support TCSUPPORT_EPON_OAM_CUC
	
config TCSUPPORT_CT_HWNAT_OFFLOAD
	depends on TCSUPPORT_CPU_MT7510 || TCSUPPORT_CPU_MT7520
	bool
	default y
	help
		support CT HWNAT OFFLOAD

config TCSUPPORT_CT_PPPOEPROXY
	depends on TCSUPPORT_PORTBIND
	bool
	help
	      CT_PPPOEPROXY support

config TCSUPPORT_CT_ACCESSLIMIT 
	depends on TCSUPPORT_CT && TCSUPPORT_PORTBIND 
	bool
	default y
	help
	      tr069 feature(access limit) for chinatelecom

config TCSUPPORT_CT_NETWORKMANAGESERVICE
	depends on TCSUPPORT_CT
	bool
	default y
	help
	      modify web,ftp and telent login auth

config TCSUPPORT_CT_QOS
	depends TCSUPPORT_QOS
	bool
	default y
	help
		china telecom qos support

config TCSUPPORT_CT_MIDWARE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
		 CT_Midware support
		 
config TCSUPPORT_CT_LOOPDETECT
	depends on (!TCSUPPORT_CUC_SFU)
	bool
	default y
	help
		 loop detect support		 

config TCSUPPORT_CT_BUTTONDETECT
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
		 wlan/wps button detect support
		 		 
config TCSUPPORT_CT_BACKUPROMFILEENCHANCEMENT
	bool
	default y
	depends on TCSUPPORT_BACKUPROMFILE && TCSUPPORT_CT
	help
	      support romfile crc checksum

config TCSUPPORT_CT_BOOTLOADER_UPGRADE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	default y
	bool
	help
		  Authentication of Upgrade Firmware through Bootloader

config TCSUPPORT_CT_E8DDNS
  depends on TCSUPPORT_CT
	default y
	bool
	help
		  support for E8B DDNS
	
config TCSUPPORT_CT_E8GUI
	bool
	default y
	help
	      CT E8 customer feature

config TCSUPPORT_CT_GUIPSWSHOW
	depends on TCSUPPORT_CT_E8GUI
	bool
	help
		support for E8 PSW show

config TCSUPPORT_CT_FW_UPGRADE_16M
	depends on TCSUPPORT_CT_E8GUI
	bool
	default y
	help
		upgrade 16M firmware
		  
config TCSUPPORT_CT_E8GUI_ONLY
	depends TCSUPPORT_CT_E8GUI
	default y
	bool
	help
	      CT E8 ONLY customer feature

config TCSUPPORT_CT_E8BGUI
	depends TCSUPPORT_CT_E8GUI
	bool
	help
	      CT E8B customer feature

config TCSUPPORT_CT_E8CGUI
	depends TCSUPPORT_CT_E8GUI
	bool
	help
	      CT E8C customer feature

config TCSUPPORT_RIPD
	bool
	help
	      Dynamic route feature support

config TCSUPPORT_CT_PORTAL_MANAGEMENT
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	     support ct_com portal


config TCSUPPORT_CT_IPPINGDIAGNOSTIC
	depends on TCSUPPORT_CT
	default y
	bool
	help 
		tr069 feature(ip ping diagnostic)
  
config TCSUPPORT_CT_ADSLSETTING
	depends on TCSUPPORT_CT
	bool
	help
	      set adsl type and mode

config TCSUPPORT_CT_WLAN_NODE
	depends on TCSUPPORT_WLAN
	default y
	bool
	help
		  Support Cwmp WLan

config TCSUPPORT_CT_ADSLSETTING
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      set adsl type and mode

config TCSUPPORT_CT_RECONNECT_NODE
	depends on TCSUPPORT_CT
	default y
	bool
	help
		  Support Cwmp RECONNECT

config TCSUPPORT_CT_IPTV_NODE
	depends on TCSUPPORT_CT && TCSUPPORT_DHCP_PROFILE && !TCSUPPORT_CUC_SFU
	default y
	bool
	help
		  Support Cwmp IPTV
 
config TCSUPPORT_CT_INFORM_NODE
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
		  Support manual inform and maitenance inform

config TCSUPPORT_CT_ALARMMONITOR 
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      Support device alarm and monitor  

config TCSUPPORT_CT_ALGABILITY 
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      Support ALG Switch TR069 Node 

config TCSUPPORT_CT_DEVICEREG
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
		  TC Support Device Registration

config TCSUPPORT_CT_DNSBIND
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help 
		 set dns bind

config TCSUPPORT_CT_DEFAULTPARA_STORE
	depends on TCSUPPORT_BACKUPROMFILE
	default y
	bool
	help 
		 default parameter store on flash

config TCSUPPORT_CT_PPPCONN_ERROR 
	depends on TCSUPPORT_CT
	default y
	bool
	help
	      Support cwmp last ppp connection error 

config TCSUPPORT_CT_FTP_DOWNLOADCLIENT 
	depends on (TCSUPPORT_CT_USB)
	default y
	bool
	help
	      Support FTP DOWNLOAD CLIENT 

config TCSUPPORT_CT_USB_BACKUPRESTORE 
	depends on (TCSUPPORT_CT_USB)
	default y
	bool
	help
	      Support USB BACKUP and RESTORE

config TCSUPPORT_CT_USB
	depends on (!TCSUPPORT_CUC_SFU && !TCSUPPORT_CT_2PORTS && !TCSUPPORT_CT_1PORTS && !TCSUPPORT_CUC_2PORT)
	default y
	bool
	help
		Support USB customization for E8C

config TCSUPPORT_CT_DHCPC_OPTION60
	depends on TCSUPPORT_CT
	default y
	bool
	help
		Support DHCP client OPTION60

config TCSUPPORT_CT_DHCPC_OPTION125
	depends on TCSUPPORT_CT
	default y
	bool
	help
		Support DHCP client OPTION125	

config TCSUPPORT_CT_DHCP6_OPTION
	depends on TCSUPPORT_CT
	default y
	bool
	help
		Support DHCPv6 client OPTION	

config TCSUPPORT_UPNP
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      UPNP Support

config TCSUPPORT_CLMP
	depends TCSUPPORT_UPNP && !TCSUPPORT_CUC_SFU
	bool
	default y
	help
	   	TR064 CLMP UPnP support
	      
config TCSUPPORT_SIMPLE_UPNP
	depends TCSUPPORT_CWMP && TCSUPPORT_UPNP
	bool
	help
		IGD UPnP support

config TCSUPPORT_IGMP_PROXY
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      igmp proxy function support

config TCSUPPORT_IGMP_QUICK_LEAVE
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      Support to send leave message ,when the same multicast group has only one member.

config TCSUPPORT_KEYPARA_STORE
	default y
	bool
	help
	      store key parameters when reset default setting

config TCSUPPORT_VIR_SERVER
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
		Support GUI of vir server

config TCSUPPORT_CT_DNSMASQ_MONITOR
	default y
	bool
	help
		Support Dnsmasq monitor function,Check dnsmasq every 60 senconds, restart dnsmasq process when dnsmasq process not exist.

config TCSUPPORT_CT_BLOCK_PROCESS
	depends on (TCSUPPORT_CT_SIMCARD_SEPARATION)
	default y
	bool
	help
		Support block process for CT.

config TCSUPPORT_CT_PON
	default y
	bool
	help
	      Telecom PON customer feature

config TCSUPPORT_CT_CWMP_E8BPARAMETER
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      Telecom CWMP E8 parameter customer feature

config TCSUPPORT_CT_2NTP
	default y
	bool
	help
	      2NTP customer feature

config TCSUPPORT_CT_5NTP
	depends on TCSUPPORT_CT_2NTP && !TCSUPPORT_CUC
	default y
	bool
	help
	      5NTP customer feature

config TCSUPPORT_CT_NTPSERVERTYPE
	depends on TCSUPPORT_CT_2NTP
	default y
	bool
	help
	      NTPSERVERTYPE customer feature
	      	      
config TCSUPPORT_CT_GUIACCESSLIMIT
	depends on (!TCSUPPORT_CUC_SFU)
	default y
	bool
	help
	      GUIACCESSLIMIT customer feature
	      
config TCSUPPORT_CT_ZIPROMFILE
	depends on TCSUPPORT_CT_BACKUPROMFILEENCHANCEMENT
	default y
	bool
	help
	      ZIPROMFILE customer feature

config TCSUPPORT_CT_CWMP_ZIPROMFILE
	depends on TCSUPPORT_CT_ZIPROMFILE && !TCSUPPORT_CUC
	default y
	bool
	help
	      CWMP ZIPROMFILE customer feature

config TCSUPPORT_IMPROVE_GUI_PERFM
	bool
	default y
	help
	      Support tcWebApi_constSet 

config TCSUPPORT_CT_VLAN_TAG
	depends on TCSUPPORT_CT
	default y
	bool
	help
	      CT e8 vlan support 

config TCSUPPORT_CT_STANDARD_E8B
	depends on (TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Telecom standard E8B customer feature
	      
config TCSUPPORT_CT_STANDARD_E8C
	depends on (!TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Telecom standard E8C customer feature

config TCSUPPORT_CT_WANNODE_MAPPING
	depends on (!TCSUPPORT_CUC)
	bool
	default y
	help
	      TCSUPPORT_CT_WANNODE_MAPPING customer feature
	     

config TCSUPPORT_CT_VLAN_BIND
	depends on (!TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Telecom VLAN bind customer feature	   	      

config TCSUPPORT_CT_FULL_ROUTE
	depends on (!TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Support  E8B full route feature.
	      
config TCSUPPORT_CT_WAN_STAT
	depends on TCSUPPORT_CT
	bool
	default y
	help
	      Show Wan Mac in status webpage   

config TCSUPPORT_CT_WAN_CHILD_PREFIX
	depends on TCSUPPORT_IPV6 && !TCSUPPORT_CUC_SFU
	default y
	bool
	help
	      generate new ipv6 prefix by childprefix.

config TCSUPPORT_CT_HWQOS
	depends on TCSUPPORT_CPU_MT7510 || TCSUPPORT_CPU_MT7520
	bool
	default y
	help
	      Support HW QoS  

config TCSUPPORT_CT_DHCP6C_STATUS_CODE
	depends on TCSUPPORT_IPV6
	bool
	default y
	help
	     	handle NoPrefix or NoAddr in DHCP6c.

config TCSUPPORT_CT_IPV4_RADIO
	depends on TCSUPPORT_CT && TCSUPPORT_IPV6 
	bool
	default y
	help
	      Support ipv4 radio


config TCSUPPORT_CT_SYSTEM_EX
	depends on TCSUPPORT_CT 
	bool
	default y
	help
	      System() support timeout mechanism

config TCSUPPORT_CT_DSLITE
	depends on TCSUPPORT_CT && TCSUPPORT_DSLITE && !TCSUPPORT_CUC_SFU
	bool
	default y
	help
	      Support dslite

config TCSUPPORT_CT_BRIDGEARP_NOFWD_LAN
	depends on TCSUPPORT_CT
	default y
	bool
	help
	      Support bridge no forward special arp feature.

config TCSUPPORT_CT_UPNP_DM
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support UPnP DM

config TCSUPPORT_CT_SERVICELIST_E8C
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Support ServiceList support voice...

config TCSUPPORT_CT_VOIP_QOS
	depends on TCSUPPORT_CT && TCSUPPORT_VOIP
	bool
	default y
	help
	      Support Qos VOICE template

config TCSUPPORT_CT_FTP_BACKDOOR
	depends on (TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Support FTP can access root dir

config TCSUPPORT_TR69_IP_HOST
	depends on (TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Support  TR69 IP_HOST.

config TCSUPPORT_CUC_DUAL_IMAGE
	depends on TCSUPPORT_CUC
	bool
	default y
	help
	      Support cuc dual image.
	      
config TCSUPPORT_CUC_GUI
	depends on TCSUPPORT_CUC  
	bool
	default y
	help
	      Support CUC GUI.
	      
config TCSUPPORT_CUC_QOS
	depends on (TCSUPPORT_CT && TCSUPPORT_CUC)
	bool
	default y
	help
	      Support Unicom QoS

config TCSUPPORT_CUC_CWMP_PARAMETER
	depends on TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU
	default y
	bool
	help
	      CUC CWMP parameter customer feature


config TCSUPPORT_CUC_LANDING_PAGE
	depends on TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU
	default y
	bool
	help
	      CUC Landing page customer feature
	      
config TCSUPPORT_CUC_VOIP_NODE
	depends on TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU
	default y
	bool
	help
	      Support CUC VOIP node


config TCSUPPORT_CT_DHCP_PORT_FILTER
	depends on !TCSUPPORT_CUC
	default y
	bool
	help
	      Support CT DHCP Port filter
	      
config TCSUPPORT_CT_PON_SMALLSYSTEM
	depends on TCSUPPORT_CT
	bool
	help
	      Support small system.
  
config TCSUPPORT_CT_WLAN_WAPI
	depends TCSUPPORT_WLAN
	bool
	help
		Support WLAN WAPI	      
		

config TCSUPPORT_CT_LONG_RESETBTN
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool
	default y
	help
	      Support long reset button press feature.

config TCSUPPORT_CT_PPP_ONDEMAND
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool
	default y
	help
	      Support wan pppoe ondemand feature.

config TCSUPPORT_CT_ADV_DNSPROXY
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool
	default y
	help
	      Support advance dns proxy feature.

config TCSUPPORT_RESERVEAREA_EXTEND
	bool
	default y
	help
		Support proline command for youhua.


config TCSUPPORT_LED_SWITCH_BUTTON
	depends on TCSUPPORT_CT && !TCSUPPORT_CUC
	bool
	default y
	help
		Support LED switch by software.
	
config TCSUPPORT_CT_DIAG_MICROSECOND
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support CT DIAG MICROSECOND.
	      	
config TCSUPPORT_CT_MONITORCOLLECTOR
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support CT MONITOR COLLECTOR.

config TCSUPPORT_CT_PPPOE_EMULATOR
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support CT PPPOE EMULATOR.

config TCSUPPORT_CT_PPPOE_IPV6_EMULATOR
	depends on TCSUPPORT_CT_PPPOE_EMULATOR && TCSUPPORT_CT_VLAN_TAG && TCSUPPORT_IPV6_ENHANCEMENT
	bool
	default y
	help
	      Support CT PPPOE V6 EMULATOR.


config TCSUPPORT_CT_UPG_PINGPONG
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
		Support ping pong upgrade.

config TCSUPPORT_CT_DEV_ACCESS_TYPE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
		Support inform itms device access type.
		
config TCSUPPORT_CT_DEVREG_PROV_CODE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
		Support inform itms device provision code.


config TCSUPPORT_CT_UPLOAD_ALLINONE
	depends on (TCSUPPORT_CT && TCSUPPORT_CUC)
	bool
	default y
	help
	      Support CT UPLOAD ALLINONE FILE.
	      
	      
config TCSUPPORT_CT_WANNINDEX_INCREASE
	depends on (TCSUPPORT_CT && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support WAN connection index add is increased.
  
config TCSUPPORT_CT_PON_JS_IP
	depends on TCSUPPORT_CT && TCSUPPORT_CT_PON_JS
	bool
	default y
	help 
	      Support Jiangsu Intelligent Phone.

config TCSUPPORT_CT_PORTSLIMIT
	depends on TCSUPPORT_CT && TCSUPPORT_CT_VLAN_TAG
	bool
	help
	      Support CT WAN/LAN port access limit.

config TCSUPPORT_CUC_BOTH_SIPH248
	depends on (TCSUPPORT_ECN_SIP && TCSUPPORT_ECN_MEGACO && TCSUPPORT_CUC && !TCSUPPORT_CUC_SFU)
	bool
	default y
	help
	      Support CUC VOIP 248/SIP.

config TCSUPPORT_CT_IPOE_EMULATOR
	depends on (TCSUPPORT_CT_VLAN_TAG && TCSUPPORT_CT_PON && TCSUPPORT_CT_DHCPC_OPTION60 && !TCSUPPORT_CUC)
	bool
	default y
	help
	      Support CT IPoE Emulator.

config TCSUPPORT_CT_PPPINFORM
	bool
	help
	      Support GD E8B.

config TCSUPPORT_ECN_SIP
	bool
	depends TCSUPPORT_NEVER_CHOSEN
	help
	      For fix issue: else code is removed in open source.
	      
config TCSUPPORT_ECN_MEGACO
	bool
	depends TCSUPPORT_NEVER_CHOSEN
	help
	      For fix issue: else code is removed in open source.

endmenu
